* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family:Arial;
	font-size:14px; 
}

.main{
	width: 100%;
}

.day-border
{
	border: solid 3px black;
	background-color: #DFC8B8;
}

.classroom
{
	/*width: 2%;*/
	background-color: #E4D8A6;
}
.week-num
{
	/*width: 12%;*/
}
.time
{
	/*height: 70px;*/
	/*font-style: italic;*/
	background-color: #E4D8A6;
}

.cls
{
	/*width: 20%;*/

}
.time-t
{
	text-align: center;
	width: 100%;

	
}

.subject
{
	/*font-size: 20px;*/
	/*font-weight: bold;*/
	min-height: 30px;

}

.subject .subject-block {
	padding:5px;
}

/*.subject:hover
{
	
	background-color: #C8C1D5;
}*/
.teacher
{
	/*font-size: 14px;*/
	color: 	black;
	height: 15px;
	font-style: oblique;
}

.t-head, .cls, .date, .week-num, .day
{
	background: #E5E2E1;
}
.t-head, .cls, .week-num
{
	/*border: solid 0.5px black;*/
}

.day
{
	/*font-size: 20px;*/
}

.date
{
	background-color: #E4D8A6;
	/*width: 5%;*/
}

.subject, .teacher
{
	background: #E2DBF0;
}

.extra-subject
{
	background-color: #BDBAC6;
}

.extra-subject:hover
{
	color: white;
	cursor: pointer;
}
.date > input{
	width: 40px;
	border: none;
	background-color: #E4D8A6;
	height: 30px;
}
.send{
	margin: 10px;
	float: right;
	
}
.aud{
	width: 55px;
	border-radius: 5px;
	background-color: #E4D8A6;
	height: 30px;
	cursor: pointer;
	
}
table{
	border-collapse: collapse;
}
th,td{
	border:1px solid black;
	/*border-collapse: separate !important;*/

}

.time .k-combobox {
	width:100%;
}

.subject input {
	width:100%;
}

.sub-2{
	display: none;
}
.sub-3{
	display: none;
}
.add-s{
	cursor: pointer;
}

/**/
.k-notification > div {
	padding: 15px;
	line-height: normal;
}
.k-notification div div {
	padding-top: 10px;
}
.k-notification img {
	margin: 0px 15px 0 0;
	float: left;
}

.note-success {
	width: 300px;
	min-height: 37px;
	border-color: #5ec232;
	color: #fff;
	background-color: #5ec232;
}

.note-error {
	width: 300px;
	min-height: 37px;
	border-color: #d51923;
	color: #fff;
	background-color: #d51923;
}

.flg {
	display:inline-block;
	margin-right:5px;
	padding:2px 5px;
}

.f-online {
	background:#3e80ed;
	color:white;
}

.f-optional {
	background:#55b22d;
	color:white;
}

.f-olimp {
	background:#aa46be;
	color:white;
}

.flags-block {
	padding-bottom:2px;
}

.flags-left .dl {
	margin-left:30px;
}

.flags-left .flags-block {
	float:left;
	width:25px;
	padding-bottom:0px;
}

.flags-left .flg {
	display:inline-block;
	padding:1px 3px 2px 3px;
	float:left;
	margin-bottom:2px;
}

