* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family:Arial;
	font-size:14px; 
}

.main{
	width: 100%;
}

.day-border
{
	border: solid 2px black;
	padding:5px;
	background-color: #dedad2;
}

.classroom
{
	/*width: 2%;*/
	background-color: #E4D8A6;
}
.week-num
{
	/*width: 12%;*/
}
.time
{
	/*height: 70px;*/
	/*font-style: italic;*/
	background-color: #E4D8A6;
}

.cls
{
	/*width: 20%;*/

}
.time-t
{
	text-align: center;
	width: 100%;
	margin-top:78px;

	
}

.hhh {
	position:fixed;
	top:40px;
	left:0px;
	z-index:9999;
}
.hhh td {
	padding:1px 0px;
	height:33px;
}

.subject
{
	/*font-size: 20px;*/
	/*font-weight: bold;*/
	min-height: 30px;

}

.subject .subject-block {
	padding:5px;
}

/*.subject:hover
{
	
	background-color: #C8C1D5;
}*/
.teacher
{
	/*font-size: 14px;*/
	color: 	black;
	height: 15px;
	font-style: oblique;
}

#toolbar {
	position:fixed;
	top:0px;
	left:0px;
	z-index:9999;
	width:100%;
}

.t-head, .cls, .date, .week-num, .day
{
	background: #E5E2E1;
}
.t-head, .cls, .week-num
{
	/*border: solid 0.5px black;*/
}

.day
{
	/*font-size: 20px;*/
}

.date
{
	background-color: #E4D8A6;
	/*width: 5%;*/
}

.subject, .teacher
{
	/*background: #E2DBF0;*/
}

.extra-subject
{
	background-color: #BDBAC6;
}

.extra-subject:hover
{
	color: white;
	cursor: pointer;
}
.date > input{
	width: 40px;
	border: none;
	background-color: #E4D8A6;
	height: 30px;
}
.send{
	margin: 10px;
	float: right;
	
}
.aud{
	width: 55px;
	border-radius: 5px;
	background-color: #E4D8A6;
	height: 30px;
	cursor: pointer;
	
}
table{
	border-collapse: collapse;
}
th,td{
	border:1px solid black;
	/*border-collapse: separate !important;*/

}

.time .k-combobox {
	width:100%;
}

.subject input {
	width:100%;
}



/**/
.k-notification > div {
	padding: 15px;
	line-height: normal;
}
.k-notification div div {
	padding-top: 10px;
}
.k-notification img {
	margin: 0px 15px 0 0;
	float: left;
}

.note-success {
	width: 300px;
	min-height: 37px;
	border-color: #5ec232;
	color: #fff;
	background-color: #5ec232;
}

.note-error {
	width: 300px;
	min-height: 37px;
	border-color: #d51923;
	color: #fff;
	background-color: #d51923;
}

.flg {
	display:inline-block;
	margin-right:5px;
	padding:2px 5px;
}

.f-online {
	background:#3e80ed;
	color:white;
}

.f-optional {
	background:#55b22d;
	color:white;
}

.f-olimp {
	background:#aa46be;
	color:white;
}

.f-advice {
	background:#01a8c1;
	color:white;
}

.f-ege {
	background:#d51923;
	color:white;
}

.flags-block {
	padding-bottom:2px;
}

.flags-left .dl {
	margin-left:30px;
}

.flags-left .flags-block {
	float:left;
	width:25px;
	padding-bottom:0px;
}

.flags-left .flg {
	display:inline-block;
	padding:1px 3px 2px 3px;
	float:left;
	margin-bottom:2px;
}

#loader {
	position:fixed;
	z-index:9999999;
	width:100%;
	height:100vh;
	background:white;
	left:0;
	top:0;
}

#loader div {
	text-align:center;
	padding-top:47vh;
	font-size:18px;
}

.colors-by-class tr td:nth-child(2) {background:#54bebe;}
.colors-by-class tr td:nth-child(3) {background:#76c8c8;}
.colors-by-class tr td:nth-child(4) {background:#98d1d1;}
.colors-by-class tr td:nth-child(5) {background:#badbdb;}
.colors-by-class tr td:nth-child(6) {background:#dedad2;}
.colors-by-class tr td:nth-child(7) {background:#e4bcad;}
.colors-by-class tr td:nth-child(8) {background:#df979e;}
.colors-by-class tr td:nth-child(9) {background:#d7658b;}
.colors-by-class tr td:nth-child(10) {background:#c80064;}

/*
.colors-by-week tr:nth-child(3) {background:#fd7f6f;}
.colors-by-week tr:nth-child(4) {background:#fd7f6f;}
.colors-by-week tr:nth-child(5) {background:#fd7f6f;}
.colors-by-week tr:nth-child(6) {background:#fd7f6f;}

.colors-by-week tr:nth-child(8) {background:#7eb0d5;}
.colors-by-week tr:nth-child(9) {background:#7eb0d5;}
.colors-by-week tr:nth-child(10) {background:#7eb0d5;}
.colors-by-week tr:nth-child(11) {background:#7eb0d5;}

.colors-by-week tr:nth-child(13) {background:#b2e061;}
.colors-by-week tr:nth-child(41) {background:#b2e061;}
.colors-by-week tr:nth-child(15) {background:#b2e061;}
.colors-by-week tr:nth-child(16) {background:#b2e061;}

.colors-by-week tr:nth-child(18) {background:#bd7ebe;}
.colors-by-week tr:nth-child(19) {background:#bd7ebe;}
.colors-by-week tr:nth-child(20) {background:#bd7ebe;}
.colors-by-week tr:nth-child(21) {background:#bd7ebe;}

.colors-by-week tr:nth-child(23) {background:#ffb55a;}
.colors-by-week tr:nth-child(24) {background:#ffb55a;}
.colors-by-week tr:nth-child(25) {background:#ffb55a;}
.colors-by-week tr:nth-child(26) {background:#ffb55a;}

.colors-by-week tr:nth-child(28) {background:#8bd3c7;}
.colors-by-week tr:nth-child(29) {background:#8bd3c7;}
.colors-by-week tr:nth-child(30) {background:#8bd3c7;}
.colors-by-week tr:nth-child(31) {background:#8bd3c7;}
*/
/*
.colors-by-week tr:nth-child(3) {background:#badbdb;}
.colors-by-week tr:nth-child(4) {background:#badbdb;}
.colors-by-week tr:nth-child(5) {background:#badbdb;}
.colors-by-week tr:nth-child(6) {background:#badbdb;}

.colors-by-week tr:nth-child(8) {background:#e4bcad;}
.colors-by-week tr:nth-child(9) {background:#e4bcad;}
.colors-by-week tr:nth-child(10) {background:#e4bcad;}
.colors-by-week tr:nth-child(11) {background:#e4bcad;}

.colors-by-week tr:nth-child(13) {background:#98d1d1;}
.colors-by-week tr:nth-child(41) {background:#98d1d1;}
.colors-by-week tr:nth-child(15) {background:#98d1d1;}
.colors-by-week tr:nth-child(16) {background:#98d1d1;}

.colors-by-week tr:nth-child(18) {background:#df979e;}
.colors-by-week tr:nth-child(19) {background:#df979e;}
.colors-by-week tr:nth-child(20) {background:#df979e;}
.colors-by-week tr:nth-child(21) {background:#df979e;}

.colors-by-week tr:nth-child(23) {background:#76c8c8;}
.colors-by-week tr:nth-child(24) {background:#76c8c8;}
.colors-by-week tr:nth-child(25) {background:#76c8c8;}
.colors-by-week tr:nth-child(26) {background:#76c8c8;}

.colors-by-week tr:nth-child(28) {background:#a7d5ed;}
.colors-by-week tr:nth-child(29) {background:#a7d5ed;}
.colors-by-week tr:nth-child(30) {background:#a7d5ed;}
.colors-by-week tr:nth-child(31) {background:#a7d5ed;}
*/

.colors-by-week tr:nth-child(10n + 3) {background:#badbdb;}
.colors-by-week tr:nth-child(10n + 4) {background:#badbdb;}
.colors-by-week tr:nth-child(10n + 5) {background:#badbdb;}
.colors-by-week tr:nth-child(10n + 6) {background:#badbdb;}

.colors-by-week tr:nth-child(10n + 8) {background:#e4bcad;}
.colors-by-week tr:nth-child(10n + 9) {background:#e4bcad;}
.colors-by-week tr:nth-child(10n + 10) {background:#e4bcad;}
.colors-by-week tr:nth-child(10n + 11) {background:#e4bcad;}

.colors-chess tr:nth-child(10n + 3) td:nth-child(2n + 3) {background-color:#edffff;}
.colors-chess tr:nth-child(10n + 4) td:nth-child(2n + 3) {background-color:#edffff;}
.colors-chess tr:nth-child(10n + 5) td:nth-child(2n + 3) {background-color:#edffff;}
.colors-chess tr:nth-child(10n + 6) td:nth-child(2n + 3) {background-color:#edffff;}

.colors-chess tr:nth-child(10n + 8) td:nth-child(2n + 3) {background-color:#ffdccf;}
.colors-chess tr:nth-child(10n + 9) td:nth-child(2n + 3) {background-color:#ffdccf;}
.colors-chess tr:nth-child(10n + 10) td:nth-child(2n + 3) {background-color:#ffdccf;}
.colors-chess tr:nth-child(10n + 11) td:nth-child(2n + 3) {background-color:#ffdccf;}
/*.colors-by-week tr:nth-child(4) {background:#badbdb;}
.colors-by-week tr:nth-child(5) {background:#badbdb;}
.colors-by-week tr:nth-child(6) {background:#badbdb;}

.colors-by-week tr:nth-child(8) {background:#e4bcad;}
.colors-by-week tr:nth-child(9) {background:#e4bcad;}
.colors-by-week tr:nth-child(10) {background:#e4bcad;}
.colors-by-week tr:nth-child(11) {background:#e4bcad;}*/